#!/usr/bin/make -f
#export DH_VERBOSE=1

%:
	dh $@  --with python3

override_dh_auto_install:
	dh_auto_install
	dh_installdirs usr/bin/
	cp discus.py debian/discus/usr/bin/
	mv debian/discus/usr/bin/discus.py debian/discus/usr/bin/discus
